 <nav class="navbar navbar-expand-lg navbar-light nav-bar">
      <div class= "container">
        <%= link_to "",root_path ,class: "navbar-brand core-sprite "%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-md-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mr-auto ml-md-auto">
          <li class="nav-item">
            <a class="nav-link core-sprite explore-icon" href="#"></a>
          </li>
          <li class= "nav-item">
            <a class="nav-link core-sprite notification-icon" href="#"></a>
          </li>
        <li class= "nav-item">
            <a class="nav-link core-sprite profile-icon" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>